*{
    padding: 0%;
    margin: 0%;
    box-sizing: 0%;
}
body{
    background-color: gray;
    
}
.main{
    margin: 25px;
    padding: 20px;
    border: 2px solid rgb(7, 7, 7);
}
p span{
    font-size: large;
    margin-left: -40px;
    color: white;
}
p {
    margin-left:50px;
}
.chr{
  
  margin-right: 40%;
    justify-content: left;
    display:flex;
    text-align: center;
    float: right;
 
}
img{
   
    width: 210px;
    height:130px;
    border-radius: 50%;
}


@media only screen and (max-width:600px){
    body{
        background-color: rgb(235, 235, 243);
    }
}
