*{
    padding: 0%;
    margin: 0%;
}
body{
   
    background: linear-gradient(-45deg, #0f0d0d, #646263, #1b1c1d, #bdc2c1);
	background-size: 400% 400%;
	animation: wuu 19s ease infinite;
   
}
@keyframes wuu {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}
.ack h1,p{
    border: px solid black;
    margin: 3%;


}
.ack {
    display: grid;
    place-items: center;
}
.btm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    padding-top: 24%;

}
.btm button a{
    text-decoration:none;
    color:black;
}
.btm button:hover{
    
    box-shadow: 2px 2px 2px black;
}
span{
    margin-left: 6%;
}
