*{
    padding: 2%;
    margin: 0%;
}
.bodddy4{
    border: 1px solid black;
    background-color: white;
    border-radius: 25px;
}
.apend{
    max-width: 800px;
}
.apend .cont{
    position: relative;
    margin: 10px 20px;
}
.apend .cont .labal1{
   position: relative;
   padding: 10px;
   background-color: rgb(7, 7, 7);
   color: rgb(250, 245, 245);
   cursor: pointer;
}
.apend .cont .labal1::before{
   content:'+';
   position: absolute;
   top: 50%;
   right: 20px;
   transform: translateY(-50%);
 }
 .apend .cont.active .labal1::before{
    content:'-';
    
 }
 .apend .cont .content{
    position: relative;
    background: rgb(240, 235, 235);
   padding: 0%;
    height: 0;
    overflow:hidden;
    transition: 0.5s;
    overflow-y: auto;
   
 }
 .apend .cont.active .content{
    height: 500px;
    
 }
 .apend .cont.active .content img{
    width: 30%;
    height: 20%;
 }
 body{
    background: linear-gradient(-45deg, #0f0d0d, #646263, #1b1c1d, #bdc2c1);
	background-size: 600% 600%;
	animation: wuu 10s ease infinite;
    animation : transitionIn 1s;
   
}
@keyframes wuu {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}
.btm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
  
    

}
.btm button a{
    text-decoration:none;
    color:black;
    padding: 2%;
}
.btm button:hover{
    
    box-shadow: 2px 2px 2px black;
}
p {
    background-color: rgb(12, 12, 12);
    border-radius: 1px;
    color: white;
   
}
@keyframes transitionIn {
    from{
        opacity: 0;
        transition: rotateY(-15px);
    }
    to{
        opacity:1;
        transition: rotateY(0);
    }
}