*{
    padding: 1%;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
}
img{
    width: 30%;
    height: 20%;
}
.containerofexpdata{
    display: grid;
    grid: auto/auto auto auto;
    padding:6%;
    margin: 5%;
    border: 2px solid black;
    gap: 10px;
}
.sss1{
    background-color: red;
    
}
.sss2{
    background-color: green;
}
.containerofexpdata1{
    display: grid;
    grid: auto/auto auto auto auto auto;
    padding:6%;
    margin: 5%;
    border: 2px solid black;
    gap: 10px;
}
.boddss3{
    margin: 2%;
    padding: 3%;
    border: 1px solid black;
    background-color: white;
    border-radius: 25px;
}
body{
    background: linear-gradient(-45deg, #0f0d0d, #646263, #1b1c1d, #bdc2c1);
	background-size: 600% 600%;
	animation: wuu 10s ease infinite;
    
   
}
@keyframes wuu {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}
.btm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
  
    

}
.btm button a{
    text-decoration:none;
    color:black;
    padding: 2%;
}
.btm button:hover{
    
    box-shadow: 2px 2px 2px black;
}