*{
    padding: 0%;
    margin: 0%;
}

.flow1 img {
    width:25%;
    height:25%;
 
   border: 1px solid black;
    
}
.flow2 img {
    width:25%;
    height:25%;
   
   border: 1px solid black;
    
}
.tables {
    border: 1px solid black;
    width: 32%;
    padding: 29px;
}
.tables ,th {
    border: px solid black;
 
}